@import '@styles/variables.scss';
@import 'foundation-sites/scss/foundation.scss';

$swiperSizeLarge: 70px;
$swiperSizeMedium: 50px;
$swiperSizeSmall: 40px;

.nodeCarousel {
    position: relative;

    .newTitle {
        color: $black;
    }

    .nodeSwiper {
        position: unset !important;
        overflow: visible;
        width: 100%;
    }

    .swipernext, .swiperprev {
        position: absolute;
        top: 45%;
        z-index: 9;
        background-color: #FFFFFF;
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
        border-radius: 50%;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: $red;
        cursor: pointer;
    }

    .swipernext {
        right: 0;
    }

    .swipernext::after, .swiperprev::after {
        content: '';
    }

    .swipernext:hover, .swiperprev:hover {
        background-color: $greyLighter;
    }

    @include breakpoint(small) {
        .swipernext, .swiperprev {
            height: $swiperSizeSmall;
            width: $swiperSizeSmall;
            margin-top: 0px;
        }

        .swiperprev {
            margin-left: -0.3rem;
        }

        .swipernext {
            margin-right: -0.3rem;
        }
    }

    @include breakpoint(medium) {
        .swipernext, .swiperprev {
            height: $swiperSizeMedium;
            width: $swiperSizeMedium;
            margin-top: 10px;
        }

        .swiperprev {
            margin-left: -1rem;
        }

        .swipernext {
            margin-right: -1rem;
        }
    }

    @include breakpoint(xxxlarge) {
        .swipernext, .swiperprev {
            height: $swiperSizeLarge;
            width: $swiperSizeLarge;
            margin-top: 0px;
        }

        .swiperprev {
            margin-left: -13%;
        }

        .swipernext {
            margin-right: -13%;
        }
    }

    &.nodeCarouselBo {
        @include breakpoint(small) {
            .swipernext {
                right: 5%;
            }

            .swiperprev {
                left: 5%;
            }
        }

        @include breakpoint(medium) {
            .swipernext {
                right: 10%;
            }

            .swiperprev {
                left: 10%;
            }
        }

        @include breakpoint(xxxlarge) {
            .swipernext {
                right: 20%;
            }

            .swiperprev {
                left: 20%;
            }
        }
    }
}

.variantImagesWithText {
    .nodeSwiper {
        position: relative !important;
    }

    .swipernext, .swiperprev {
        @include breakpoint(small) {
            top: calc((100% - 64px) / 2 - $swiperSizeSmall / 2);
        }

        @include breakpoint(medium) {
            top: calc((100% - 64px) / 2 - $swiperSizeMedium / 2);
        }

        @include breakpoint(xxxlarge) {
            top: calc((100% - 64px) / 2 - $swiperSizeLarge / 2);
        }
    }

    h3 {
        color: $black;
        letter-spacing: 0;
        line-height: 80px;
        margin-bottom: 40px;
    }
}
