@import '@styles/variables.scss';

.umbracoForm {
    text-align: center;
    max-width: 515px;
    margin: 0px auto 0;
    padding: 30px 15px 0;

    &.themeDefault {
        text-align: left;
        max-width: 480px;
        margin: 0;
        padding: 0;

        fieldset {
            border: none;
        }

        input[value=''] ~ fieldset {
            &:before, &:after {
                opacity: 1;
            }
        }

        label {
            color: rgba(0, 0, 0, 0.87);
            font-size: 1rem;
            font-family: $proximaNovaFont;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 26px;
            margin-bottom: 5px;
            margin-left: 0;
            display: inline-block;
        }

        input::placeholder {
            color: #000000 !important;
            opacity: 1 !important;
        }

        input,
        select,
        textarea {
            padding: 9px 19px;
            box-sizing: border-box;
            background-color: #fff !important;
            color: #000000;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 26px;
            border: 1px solid $greyLight !important;
            border-radius: 8px;
            max-width: 480px;
            width: 480px;
        }

        .select {
            padding: 9px 30px 9px 22px;
        }

        input, select {
            height: 52px;
        }

        select {
            background-color: white;
            display: inline-block;
            margin: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
        }

        select {
            > option {
                padding: 9px 19px;
                height: 52px;
                width: 413px;
                box-sizing: border-box;
                background-color: #fff !important;
                border: none !important;
                border-radius: 7px;
                color: #000000;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 26px;
            }
        }

        .field {
            // margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        .dropdown {
            > div {
                overflow: hidden;
                position: relative;

                &::after {
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid $red;
                    position: absolute;
                    top: 45%;
                    right: 24px;
                    content: "";
                    z-index: 98;
                }
            }
        }

        button[type="submit"] {
            min-width: 150px;
            height: 42px;
            margin-top: 0;
            border-radius: 0 !important;
            letter-spacing: 2px;
            font-family: $barlowFont;
            background-color: #B2334E;
            font-weight: 500;
            margin: 35px 0;
            cursor: pointer;
            color: white;
            text-transform: uppercase;
        }

        .buttonWrapper {
            text-align: left;
        }

        .container {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }

        p {
            margin: 5px 0 0;
            line-height: 17px;
        }
    }

    &.themeCenter {

        select, textarea {
            padding: 9px 19px;
            box-sizing: border-box;
            background-color: #fff !important;
            color: #000000;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 26px;
            border: 1px solid $greyLight !important;
            border-radius: 8px;
            max-width: 480px;
            width: 413px;
        }

        .datepicker {
            margin-left: 2rem;
        }


        label {
            color: rgba(0, 0, 0, 0.87);
            padding-left: 6px;
            font-weight: 400;
            font-size: 1rem;
            display: flex;
            margin-left: 2rem;
        }

        .customRadio, .customCheckbox {
            display: flex;
            margin-left: 2.5rem;
        }

        .headingDescription, .richTextField {
            text-align:left;
            margin-left: 2.5rem;
        }
    }

    fieldset {
        border: none;
    }

    input[value=''] ~ fieldset {
        &:before, &:after {
            opacity: 1;
        }
    }

    input::placeholder {
        color: #000000 !important;
        opacity: 1 !important;
    }

    input {
        padding: 9px 19px;
        height: 52px;
        width: 413px;
        box-sizing: border-box;
        background-color: #fff !important;
        border: none !important;
        border-radius: 7px;
        color: #000000;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 26px;
    }


    .field {
        margin-bottom: 1.5rem;
    }


    .page {
        margin-bottom: 3rem;
    }

    .container {
        margin-bottom: -1.5rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    p {
        margin: 5px 0 0;
        line-height: 17px;
    }

    .customRadio, .customCheckbox {
        input {
            display: none;

            &:checked {
                + {
                    label {
                        &::before {
                            border-color: $red;
                        }

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        label {
            position: relative;
            display: inline-block;
            padding: 0 0 0 39px;
            font-weight: 300;
            margin: 0 !important;

            &:hover {
                cursor: pointer;
            }

            &::before {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                border: 1px solid $greyDark;
                transition: border-color .3s;
                height: 27px;
                width: 27px;
                left: 0;
                margin-top: -14px;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                top: 50%;
                margin-top: -8px;
                height: 15px;
                width: 15px;
                background-color: $red;
                opacity: 0;
                left: 6px;
                transition: opacity 0.3s;
            }
        }

        + .customRadio, + .customCheckbox {
            margin-top: 1rem;
        }
    }

    .customRadio {
        label {
            &::before {
                border-radius: 15px;
            }

            &::after {
                border-radius: 9px;
            }
        }
    }

    .singleCustomCheckbox {
        margin: 1rem 0;
    }
    /*.listInlineStyle {
        display: inline-flex;
        list-style: none;
        padding-left: 0;
        flex-wrap: wrap;

        li {
            margin: 1rem;
        }
    }*/
}

@media (max-width: 575px) {
    .umbracoForm {
        &.themeCenter {
            text-align: left;
            max-width: 480px;
            margin: 0;
            padding: 0;

            label, input, select, textarea, h2, p, .rte {
                margin-left: 0.5rem;
            }

            .datepicker {
                margin-left: 0;
            }

            input[type="checkbox"], input[type="radio"] {
                left: 0.5rem;
            }
        }


        &.themeDefault {
            input, select, textarea {
                width: 100%;
            }
        }
    }
}
