@import '@styles/variables.scss';

.imageTile {
    background-color: $white;
    width: 100%;

    h6 {
        color: $black;
        color: $blackLight;
        font-family: $proximaNovaFont;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 28px;
    }

    &:hover, &:focus {
        h6 {
            color: $linkHoverColor;
        }
    }

    .text {
        margin-top: 28px;
    }    
}